.constructor {
  max-width: calc(600px + 8px);
  height: 696px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 20px;
}

.constructor::-webkit-scrollbar {
  width: 8px;
}

.constructor::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.constructor::-webkit-scrollbar-track {
  background: #2F2F37;
}

.element {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 40px;
}