.app {
  padding: 40px;
  margin: 0 auto;
  max-width: 1280px;
}

.main {
  display: grid;
  grid-template-areas:
    "heading heading"
    "ingredients constructor";
}

.mainTitle {
  grid-area: heading;
}

.orderModal {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
