.title {
    display: block;
    margin-bottom: 0;
}

.scroll {
    width: 620px;
    height: 312px;
    overflow-y: auto;
    padding-left: 0;
    margin: 24px 0 0 0;
}

.scroll::-webkit-scrollbar {
    width: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    width: 620px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 122px;
}

.id {
    text-align: center;
}

.status {
    color: #00CCCC;
}

.count {
    display: flex;
    width: 536px;
    height: 64px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ingredient {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 24px;
    width: 608px;
    height: 64px;
}

.container {
    display: flex;
    align-items: center;
    width: 620px;
    padding-left: 0;
}

.price {
    margin-left: auto;
    margin-right: 8px;
    vertical-align: top;
}

.image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04),
    0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
    margin: 0;
    padding: 0;
    background: no-repeat 50% 50%;
    box-sizing: border-box;
    object-fit: cover;
}

.total {
    margin-left: auto;
    vertical-align:middle
}
