.ingredientCard {
  position: relative;
  text-align: center;
}

.ingredientCard:hover {
  cursor: pointer;
}

.ingredientCardDragging {
  opacity: 0.5;
}

.cardCounter {
  position: absolute;
  top: 0;
  right: 15px;
}

.link {
  text-decoration: none;
  color: inherit;
}