.ingredients__section {
  display: flex;
  flex-direction: column;
}

.ingredients__heading {
  margin: 0;
}

.ingredients__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px 24px;
}