.image {
    width: 64px;
    height: 64px;
    border: 3px solid rgba(76, 76, 255, 0.8);
    border-radius: 50%;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
    margin: 0;
    padding: 0;
    background: no-repeat 50% 50%;
    box-sizing: border-box;
    object-fit: cover;
}

.images {
    flex-wrap: wrap;
    height: 64px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    width: 436px;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    width: 796px;
    min-height: 171px;
    background: #1C1C21;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.ingredients {
    flex-wrap: wrap;
    min-width: 796px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 436px;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

.link {
    text-decoration: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 1;
    color: white;
}

.link:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: .7;
}

.status {
    margin: 0;
}

.done {
    color:  #00CCCC;
}

.caption {
    text-align: start;
}

.box {
    position: relative;
    left: -96px
}

.count {
    position: absolute;
    left: 246px;
}
